body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(9,121,44);
    background: linear-gradient(0deg, rgb(1, 172, 55) 0%, rgba(0,0,0,1) 97%);
}

#menu-principal {
    background-color: #8076a3;
    padding: 10px 0;
}

#menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu li {
    position: relative;
}

#menu a {
    color: #fff;
    text-decoration: none;
    padding: 20px 15px;
    display: block;
}

#menu a:hover {
    background-color: #067d00;
    border-radius: 5px;
}

/* Submenús */
#menu li ul {
    display: none;
    position: absolute;
    background-color: #067d00;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
}

#menu li:hover ul {
    display: block;
}

#menu li ul li a {
    padding: 10px;
    white-space: nowrap;
}

#menu li ul li a:hover {
    background-color: #1bb413;
}

.contenidoprincipal{
    width: 94%;
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
#contenido {
    text-align: center;
    margin-top: 10px;
}

#contenido h1 {
    font-size: 2.5em;
}

#contenido p {
    font-size: 1.2em;
}
.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.6); /* Fondo transparente */
    border-radius: 8px;
    padding: 10px;
    margin: 45px 10px 10px 5px;
    flex: auto;
}

.cajas {
    background-color: rgba(255, 255, 255, 0.6); /* Fondo transparente */
    border-radius: 8px;
    margin: 15px 5px 5px 5px;
    flex: auto;
}

section {
    border-radius: 6px;
    background-color: #1bb413;
    height: auto;
}

h2 {
    color: #fff;
    font-size: 1.7em;
    padding: 10px;
    font-weight: 900;
    text-align: center;
    background-color: #067d00;
    border-radius: 6px;
}
p {
    color: #fff;
    font-size: 1em;
    padding: 10px;
    text-align: justify;
}
/* para responsivo */
@media (max-width: 768px) {
    #menu {
        flex-direction: column;
    }

    #menu a {
        text-align: center;
    }

    #traduccion {
        flex-direction: column;
        align-items: flex-end;
    }

    #traduccion button {
        margin: 5px 0;
    }
}

.mensajes {
    margin-top: 20px;
}
.mensaje {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}
.mensaje:last-child {
    border-bottom: none;
}
.autor {
    font-weight: bold;
}
.respuesta {
    margin-left: 20px;
    font-style: italic;
    color: #fff;
}
.redes-sociales {
    text-align: center;
}
.redes-sociales a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    padding: 10px;
    border-radius: 40%;
    display: inline-block;
    background-color: gray;
}